.thumbnail{
    min-width: 150px;
    background-color:rgba(255, 255, 209, 0.2);
}

#title{
    width: 500px;
}


body{ 
   background: url(../field.jpg) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background-color: #87CEFA;
 }

 .name{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
 }


