div.pokedex {
    border-sizing: border-box;
    max-width: 40%;
    min-width:40%;
    height: 500px;
    border: 5px solid black;
    padding: 8px;
    position: fixed;
    background-color: white;
}

div.pokedex h1, p.instructions {
    text-align: center;
}

div.pokedex img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

div.pokemon img {
    margin-left: auto;
    margin-right: auto;
}

div.pokemon, div.pokedex {
    display: inline-block;
    vertical-align: top;
    float: right;
}

body {
    padding: 40px;
}

h1 {
    text-decoration: underline;
}

#title{
    width: 500px;
}

.container{
    float:right;
    max-width: 50%;
    min-width: 50%;
}

body{ 
   background: url(../field.jpg) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background-color: #87CEFA;
 }

 .name{
    font-weight: bold;
    font-size: 20px;
 }